<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div >
        <a class="navhead text-success" href="#">MovieAPP</a>
        </div>

        <div class="navText">
            <a class="nav-link text-light" href="#">MY LIST</a>
            <a class="nav-link text-success with-icon" href="#">HOME <mat-icon>home</mat-icon> </a>
            <a class="nav-link text-light" href="#">ADD REVIEW</a>
        </div>

        <form class="d-flex">
        <div class="search">
            <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        </form>
    </div>
</nav>